<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hayao Miyazaki</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <h1>Hayao Miyazaki</h1>
    <p>
      Hayao Miyazaki es un director de cine de animación, animador, ilustrador,
      empresario, mangaka y productor de anime japonés, de renombre
      internacional y con una carrera de cinco décadas. Junto con Isao Takahata,
      fundó Studio Ghibli, un estudio de películas y animación.
    </p>
    <p>
      La mayor parte de su obra incluye mensajes antibélicos o aborda temas
      complejos como el ser humano y la naturaleza, el progreso, el
      individualismo y la responsabilidad, lo que le ha valido el reconocimiento
      de expertos, cineastas y muchos de sus seguidores, el público de Occidente
      y los especialistas.
    </p>
  </body>
</html>
