<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayao Miyazaki</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
    </nav>
    <h1>Works</h1>
    <section>
        <div class="works-img">
            <h3>Nausicaä del Valle del Viento</h3>
            <img src="/images/nausica.jpg" alt="movie image">
        </div>
        <div class="works-img">
            <h3>El viaje de Chihiro</h3>
            <img src="/images/chihiro-movie.png" alt="movie image">
        </div>
        <div class="works-img">
            <h3>Mi vecino Totoro</h3>
            <img  src="/images/totoro-movie.jpg" alt="movie image">
        </div>
        <div class="works-img">
            <h3>La princesa Mononoke</h3>
            <img  src="/images/mononoke-movie.jpg" alt="movie image">
        </div>
        <div class="works-img">
            <h3>El castillo ambulante</h3>
            <img  src="/images/castillo-movie.png" alt="movie image">
        </div>
        <div class="works-img">
            <h3>Porco Rosso</h3>
            <img  src="/images/porco-movie.png" alt="movie image">
        </div>
    </section>
</body>
</html>